@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <p>Author - <a href='https://github.com/shaneshka'>Durnev Alexandr</a></p>
        <p>Source - <a href='https://github.com/shaneshka/todo'>https://github.com/shaneshka/todo</a></p>
    </div>
</div>
